html {
  scroll-behavior: smooth;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
  white-space: nowrap;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  color: rgb(255 255 255);
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__title p {
  display: inline;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  font-size: 100px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.48px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 0 24px;
}

.lots__heading,
.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__heading {
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px;
  list-style: none;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  padding: 155px 24px 180px;
}

.about__logo {
  display: flex;
  grid-area: about__logo;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 101px 0 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.about__text p {
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0 50px 82px;
}

.footer__address {
  width: 264.57px;
}

.footer__menu-list-item {
  text-align: center;
  list-style: none;
  white-space: nowrap;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
